.container{background-color: #c8d6e5;
    h2{text-align: center;justify-content: center}
    .table{margin-top: 5%;
        thead{
            tr{
                th{background-color: #2c6ed5;margin: 0 5%;border: 2px solid red;text-align: center}
            }
        }
        tbody{
            tr{text-align: center;height: 20%;
             td {width: 20%;
                 p {
                     font-size: 1.5rem;
                     margin-top: 25%;
                     padding-top: 15%
                     ;font-weight: bolder;
                 }
             ;

                 img {
                     width: 80%;
                     height: 20%;
                     margin-top: 20%
                 }
             ;

                 .count-body {
                     text-align: center;
                     margin-top: 30%;
                     font-weight: bolder;
                     font-size: 1.5rem;
                 }

                 #Delete {
                     margin-top: 30%;

                     .btn {
                         width: 60%;

                         .icon {
                             width: 60%;
                             height: 55%;
                             vertical-align: center;
                         }
                     }
                 }

                 #edit {
                     margin-top: 40%;

                     .form-Edit {
                         width: 20%;
                     }

                     .btn {
                         height: 40%;

                         .iconUpdate {
                             width: 80%;
                             height: 100%;
                             vertical-align: center;

                         }
                     }


                 }

                     #sendDatabase {margin-top: 40%;width: 100%;
                         div{
                             .order{text-align: center;font-weight: bold}
                             .btn{margin-top: 4%}
                         }

                     }


             }

            }
            tr:nth-child(odd) {
                background-color: #c8d6e5;
                color: black;
            }
            tr:nth-child(even) {
                background-color: #8395a7;
                color: black;}
            }
    }
    .total-price{background-color: #1dd1a1;width: 25%;height: 10%;font-size: 2rem;font-weight: bolder;word-break: break-word}
    #sendOrders{
        .btn{text-align: center;justify-content: center;width: 20%;height: 10%;margin-left: 40%}
    }
}
