.login{background-color: #a29bfe;
    .container-fluid{
        background-image: url("https://i.pinimg.com/1200x/8b/93/ac/8b93ac1695df6556453dda7ac926b3bb.jpg");
        background-repeat: no-repeat;
        margin: 5% 25%;
        position: relative;
        background-size: cover;
        width: 50%;
        height: 600px;

        a{font-style: oblique;font-size: 1.5rem;font-weight: bold}
        form{text-align: center;justify-content: center;width: 50%;margin-top: 25%;position: absolute;margin-left: 25%;
            #email{width: 60%;margin-left: 20%}
            #password{width: 60%;margin-left: 20%}
            #remember{}
        }
    }

}
