.container-1{
    background-image: url("https://thumbs.dreamstime.com/b/i-love-fast-food-french-fries-form-liver-pink-background-i-love-fast-food-french-fries-burger-form-liver-139159301.jpg");

    background-size: cover;
    width: 80%;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    height: auto;
    #formCreate{background:#ff7979;height: 60%;border-radius: 50%;

        direction: rtl;
       margin-left: 50%;
       .form-create{margin-top: 2%;height: 50%;border-radius: 20%;
           h2{ }

           #name{
               .name{margin-top: 10%;text-align: center;width: 50%}
           }
           #description{
               .description{margin-top: 5%;width:50%;text-align: center}
           }
           #price{

               .price{margin-top: 5%;width: 50%;text-align: center}}
           #image{margin-top: 5%;
               .image{margin-right: 15%}}
           #discount_id{
               margin-top: 5%;.discount_id{}}
           .btn{margin-top: 5%}
       }




    }
}
