#Edit{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz-zriZA_Od2wzodtSajxDgAU0eZ4lWmXsKw&s");

    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 80%;
    justify-content: center;text-align: center;
    margin-left: 10%;
    height: 100%;

    .form-Edit{
        position: absolute;
        width: 40%;
        margin-left: 30%;
        background: #f7b731;
        margin-top: 5%;

        #image{
            .imageFast{margin-top: 5%;width: 80%}
            .image{margin-top: 3%;width: 35%}
            .title-image{position: absolute;margin-top: 3%;}
        }
        #name{.name{margin-top: 3%;width: 40%;text-align: center} .title-name{position: absolute;margin-top: 3%;}}
        #price{.price{margin-top: 3%;width: 40%;text-align: center} .title-price{position: absolute;margin-top: 3%;}}
        #description{
            .description{margin-top: 3%;width: 40%;text-align: center}
            .title-description{position: absolute;margin-top: 3%;}
        }
        #button{.btn{margin: 3% 0}}

    }
}
