.container-fluid{
background-image: url("https://img.freepik.com/free-photo/fast-food-concept-with-greasy-fried-restaurant-take-out-as-onion-rings-burger-fried-chicken-french-fries-as-symbol-diet-temptation-resulting-unhealthy-nutrition_639032-2410.jpg")  ;
    
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height:100%;
}
