@import "create";
@import "Edit";
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.container{width: 100%;
    header{
        .container {
            nav{width: 100%;
                //.navbar-brand{width: 100%;
                //    img{width: 100%;height: 5%}}
                .navbar-brand{width: 15%;text-align: center;margin-left: 20rem;
                .iconTitle{width: 10%;height: 40%;margin-left: 35rem;margin-top: 2%}}
                button{}
                .collapse{
                    .navbar-nav{
                        img{}
                        .nav-item{
                            .nav-link{color: #a0aec0;transform: translateX(15rem)}
                        }
                    }
                }
            }
            .d-flex{
                .w-100{
                    h1{font-weight: bolder;font-size: 2rem}
                    p{font-weight: bold;font-size: 1.5rem;margin-top: 2rem}
                }
            }
        }

    }


       .row{;width: 100%;text-align: center;justify-content: center;margin: 2% 2%;
           .col-sm-3{width: 25%;margin-top: 2% ;
               .card{;flex-wrap: nowrap;
                   height: 100%;
                   position: relative;
                   margin-top: 5%;padding-top: 5%;
                   img{width: 100%;height: 40%;}
                   .button-1{position: absolute;width: 30%;
                       height: 12%;
                       text-align: center;
                       margin-left: -3%;
                       display: flex;
                       padding-top: 10%;
                       font-size: 2rem;
                       .off{text-align: center;flex-direction: row;font-size: 1.5rem}

                   }
                   .card-info{height: 40%;word-wrap: break-word;
                       .text-title{}
                       .text-body{}
                   }
                   .card-footer {
                       display: flex;

                       .text-title {
                           text-decoration: line-through;
                       }
                   }
                   .row{
                       .col-sm-5{
                           .btn-info{margin-left: 20%}
                           .btn-primary{margin-left: -10%}

                       }
                   }
               }
               .button-1 {
                   background-color: #EA4C89;
                   border-radius: 50%;
                   width: 80%;
                   //font-weight: bolder;
                  // font-size: 2rem;
                   flex-direction: row;
                   border-style: none;
                   box-sizing: border-box;
                   color: #FFFFFF;
                   cursor: pointer;
                   //display: inline-block;
                   font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                   //font-size: 14px;
                   //font-weight: 500;
                   //height: 80px;
                   line-height: 20px;
                   list-style: none;
                   margin: 0;
                   outline: none;
                   padding: 10px 16px;
                   justify-content: center;
                   position: relative;
                   text-align: center;
                   text-decoration: none;
                   transition: color 100ms;
                   vertical-align: baseline;
                   user-select: none;
                   -webkit-user-select: none;
                   touch-action: manipulation;

                   span{font-size: 12px}
               }

               .button-1:hover,
               .button-1:focus {
                   background-color: #F082AC;
               }
               .price{font-weight: bolder;font-size: 22px}


           }
       }

}

header img {
    position: absolute;
    top: 60%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 5;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
    .card{width: 20%;
        .card-img{width: 20%}
        .card-info{
            .text-title{}
            .text-body{}
        }
        .card-footer{
            .text-title{text-align: center;

            }

        }
    }
}

