.container-1{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-pGoTJH3NM2SDhlBydGPMCRbRfQVQ3L6csg&s");

    background-size: cover;
    width: 80%;
    justify-content: center;
    text-align: center;margin-left: 10%;

    height: 100%;
    position: relative;
    #formCreate{;height: 80%;border-radius: 40%;position: absolute;

        direction: rtl;
        margin-left: 80%;
        margin-top: 5%;
        .form-create{margin-top: 2%;height: 80%;border-radius: 20%;position: absolute;background:#636e72; margin-left: 60%;
            h2{ margin-top: 10%}

            #name{
                .name{margin-top: 10%;text-align: center;width: 50%}
            }
            #type{
                margin-top: 3%;width: 20%;
            }
            #description{
                .description{margin-top: 5%;width:50%;text-align: center}
            }
            #price{

                .price{margin-top: 5%;width: 50%;text-align: center}}
            #image{margin-top: 5%;
                .image{margin-right: 15%}}
            #discount_id{
                margin-top: 5%;.discount_id{}}
            .btn{margin-top: 5%}
        }




    }
}
