body{
    .container{
        .header{display: flex;justify-content: space-between;
            .navbar-nav{width: 100%;
                nav{display: flex;background-color: #9ca3af;width: 100%;
                    .nav{width: 80%;
                        .nav-item{width: 12%;
                            .nav-link{


                            }
                        }
                    }
                    .link-shop{width: 15%;color: red;
                        background-color: #00b33c;display: flex;border-radius: 25%;
                        justify-content: center;

                        height: 80%;
                        margin-top: 1.5%;
                        margin-right: 5%;

                        vertical-align: center;
                        .cart{display: flex;justify-content: center;
                            .CartIcon{
                                width: 30%;
                                height: 40%;
                                //margin-top: 15%;
                                margin: 15% 5%;
                            }
                            .body-shop{
                                margin: 15% 5%;
                                width: 30%;
                                color: black;
                            }
                            .totalCount{;font-size: 1.5rem;width: 40%;margin: 15% 10%;border-bottom: none;
                                color: red}
                        }
                    }
                }
            }
        }

       .cart1{
           .col-sm-3{border: 2px solid red;
               .card{margin-top: 20px;

                   img{height: 400px}
                   .card-body{
                       .card-title{font-weight: bold;font-size: 2rem}
                       .card-des{line-height: 1.5rem}
                       form{}
                   }
               }
           }
       }
    }
    #footer{background-color: #95a5a6;margin-top: 3%;
        .container{
            .row{
                .col-sm-4{margin-top: 3%;
                    .header-footer{margin-top: 2%}
                    .body-footer{line-height: 2rem;margin-top: 2%;font-weight: bold}
                }
                .col-sm-2{margin-top: 3%;
                    .title{margin-top: 2%;
                        .title-product{}
                        .body-product{
                           .product-list{font-weight: bold;
                               list-style: none;
                               margin-top: 10%;

                           }
                        }
                    }
                }
                .col-sm-3{margin-top: 3%;
                    .contact{
                        .contact-title{text-align: center;margin-top: 2%;}
                        .contact-body{
                            .contact-list{list-style: none;display: flex;
                                .home-icon{width: 20%;
                                    height: 20%;margin-top: 3%;

                                }
                                .home-paragraph{margin-top: 10%;font-weight: bold;word-break: break-word}
                                .email-icon{width: 20%;height: 20%;margin-top: 3%;}
                                .phone-icon{width: 20%;height: 20%;margin-top: 3%;}
                            }
                        }
                    }
                }
                .col-sm-2{
                    .SocialNetwork{text-align: center;
                        .Icon-network{width: 15%;height: 15%;margin-top: 10%;margin-left: 150%}
                    }
                }

            }
        }
    }

}
